__pycache__/
*.py[cod]

.venv/
.env

.ipynb_checkpoints/
.pytest_cache/

mlruns/

artifacts/models/*
artifacts/reports/*

models/*.joblib
reports/figures/*

data/raw/*
data/interim/*
data/processed/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep